body{
    height: 100vh;
    background-color: #6482AD;
    padding: 0;
    margin: 0;
    font-family: 'Oswald',monospace;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onTopElements {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 30px;
}

.pageExplorerContainer{

    width: 40%;
    height: 40px;
    background-color: #E2DAD6;
    border-radius: 20px;
    max-width: 428px;
    min-width: 428px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #E2DAD6;
}

.explorerButton{
    width: 30%;
    height: 25px;
    background-color: #e2ccc0;
    border-radius: 20px;
    border: #7FA1C3 1px solid;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;

    cursor: pointer;    
    font-size: 1.3em;
    transition: .5s; }

.explorerButton:hover{
    
    
    background-color: #6482AD;
}


.bigContainer{
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
.generatedWordsContainer {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 1fr);    /* 3 rows */
    gap: clamp(10px, 5vw, 10px);; 
    align-items: center;
    justify-items: center;
    width:70%;
    height: 600px;
    
}

.wordContainer{
    width: 60%;
    height: 100px;
    
    border-radius: 40px;
    background-color: rgb(127, 161, 195);

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px black solid;
    max-width: 418px;

    opacity: 0; /* Start hidden */
    animation: fadeInUp 0.6s ease forwards; 
    animation-delay: 0s;

    overflow: hidden; 
}
.word{
    font-size: clamp(1.5rem, 3rem, 3rem);;
    letter-spacing: 3px;
    border: 0px solid green;
    margin: 0px 10px 10px 20px;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}
.addList{
    margin-right: 10px;
    font-size: 2rem;
    padding: 1px 3px;
    left: 110px;
    
    color: darkblue;
    background-color: #7FA1C3;
    cursor: pointer;
    border-radius: 10px;
    
    transition: .3s;
}
.addList:hover{
    color: white;
    background-color: darkblue;
    border-radius: 10px;
}
#generateButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; 
    position: absolute;
    transform: translate(-50%, 200px); 
    transition: transform 0.9s ease;
}
.generateButton{
    width: 20%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;

    margin-bottom: 20px;
    
    

}

#generate{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
    background-color: #e2ccc0;
    
    transition: .3s;

    cursor: pointer;
}


#generate:hover{

    background-color: black;
    color: white;
    
}

#generateButtonContainer.center {
    position: absolute;
     top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fadeInUp2 1s ease forwards;
    
}

#generateButtonContainer.bottom {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.7s ease;
}


#generateButtonContainer.center.show {
    top: 50%; 
    opacity: 1; 
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.selectedWordsContainer{
    position: relative;
    border-top: solid 4px transparent; /* Initial color is transparent */
    opacity: 0;
    
    display: none;
    grid-template-columns: repeat(5, 0.5fr); /* 2 columns */
    grid-template-rows: repeat(2, 2fr);    /* 3 rows */
    
    height: 140px;
    background-color: #6482AD;
    
    padding-top: 10px;


    transition: border-top-color 1s ease, opacity 1s ease;


    
}

.selectedWordDiv{
    border: 1px solid black ;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 10px 5px 10px;
    border-radius: 20px;
    background-color: #7FA1C3;

    opacity: 0;
    animation: fadeInUp .4s ease forwards;

    transition: transform 0.3s ease, opacity 0.3s ease;
}
.selectedWord{
    padding: 0px 10px 0px 10px;

    margin: 0px;
    margin-bottom: 5px;

    font-size: 2em;
}

.trashButton{
    margin: 0px 19px 0px 10px;
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid red;
    border-radius: 50%;

    transition: 0.3s;
    color: red;

    cursor: pointer;
}

.trashButton:hover{
    color: white;
    background-color: red;
   
}

#sepetTitle {
    position: absolute;
    top: -1.5em; 
    left: 5px;
    font-size: 1em;
    color:  #e2ccc0; 
    margin: 0;
    font-size: 2rem;

    animation: fadeInUp2 1s ease forwards;
}
