body{
    height: 100vh;
    background-color: #6482AD;
    padding: 0;
    margin: 0;
    font-family: 'Oswald',monospace;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
}
#modal h1,
h2{
    margin: 0;
    color: #7FA1C3;
}
.modalSubtitle{
    margin-left: 20px;
    color: #7FA1C3;
    font-style:oblique;
}
p{
    margin: 0 0 10px 0;
    padding-left: 30px;
    font-size: 2rem;

}
#modalTitle{
    text-align: center;
}
#modalFork{
    transform: rotate(180deg);
}
.onTopElements {
    width: 100%; 
    display: flex; 
     
    justify-content: center;
    align-items: center; 

  
}
.infoButtonContainer{
    padding-left: 100px;
    font-size: 3em;
    
}
#infoButton{

    color:  #e2ccc0;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.4s ease;

 
}
#infoButton:hover{

    color:  black;
    

}
#modal{
    background-color: #e2ccc0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    
    padding: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name: animatemodal;
    animation-duration: .5s;

}
#closeButtonContainer{

    position: absolute; 
    top: 10px; 
    right: 20px; 

    display: flex;
    justify-content: center;
    align-items: center;




}
#closeButton{
    cursor: pointer;
    font-size: 2em;
    color: red;

    transition: 0.4s ease;
    
}
#closeButton:hover{
    color: darkred;
}

#modalContainer{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(0, 0, 0, .4);
}


@keyframes animatemodal {
    from{
        top: -500px;
     
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}
.pageExplorerContainer{

    width: 40%;
    height: 40px;
    background-color: #E2DAD6;
    border-radius: 20px;
    max-width: 428px;
    min-width: 428px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #E2DAD6;

    margin-left: 150px;
}

.explorerButton{
    width: 40%;
    height: 25px;
    background-color: #e2ccc0;
    border-radius: 20px;
    border: #7FA1C3 1px solid;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;

    cursor: pointer;    
    font-size: 1.3em;
    transition: .5s; }

.explorerButton:hover {
    background-color: #7FA1C3; 
}

.activeButton {
    background-color: #7FA1C3; 
}

#generator {
    
    transition: background-color 1.5s ease; 
    
}


.bigContainer{
    display: flex;
    align-items: center;
    justify-content: center;

}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
.generatedWordsContainer {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 1fr);    /* 3 rows */
    gap: clamp(10px, 5vw, 10px);; 
    align-items: center;
    justify-items: center;
    width:70%;
    height: 600px;
    
}

.wordContainer{
    width: 60%;
    height: 100px;
    
    border-radius: 40px;
    background-color: rgb(127, 161, 195);

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px black solid;
    max-width: 418px;

    opacity: 0; /* Start hidden */
    animation: fadeInUp 0.6s ease forwards; 
    animation-delay: 0s;

    overflow: hidden; 
}
.word{
    font-size: clamp(1.5rem, 3rem, 3rem);;
    letter-spacing: 3px;
    border: 0px solid green;
    margin: 0px 10px 10px 20px;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}
.addList{
    margin-right: 10px;
    font-size: 2rem;
    padding: 1px 3px;
    left: 110px;
    
    color: darkblue;
    background-color: #7FA1C3;
    cursor: pointer;
    border-radius: 10px;
    
    transition: .3s;
}
.addList:hover{
    color: white;
    background-color: darkblue;
    border-radius: 10px;
}
#generateButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; 
    
    transform: translate(-50%, 200px); 
    transition: transform 0.9s ease;
    
}
.generateButton{
    width: 20%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;

    margin-bottom: 20px;
    
    

}

#generate{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
    background-color: #e2ccc0;
    
    transition: .3s;

    cursor: pointer;
}


#generate:hover{

    background-color: black;
    color: white;
    
}

#generateButtonContainer.center {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fadeInUp2 1s ease forwards;
    
}

#generateButtonContainer.bottom {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.7s ease;
}


#generateButtonContainer.center.show {
    top: 50%; 
    opacity: 1; 
}

.selectedWordsContainer{
    position: relative;
    border-top: solid 4px transparent; /* Initial color is transparent */
    opacity: 0;
    
    display: none;
    grid-template-columns: repeat(5, 0.5fr); /* 5 columns */
    grid-template-rows: repeat(2, 2fr);    /* 2 rows */
    
    height: 140px;
    background-color: #6482AD;
    
    padding-top: 10px;


    transition: border-top-color 1s ease, opacity 1s ease;


    
}

.selectedWordDiv{
    border: 1px solid black ;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 10px 5px 10px;
    border-radius: 20px;
    background-color: #7FA1C3;

    opacity: 0;
    animation: fadeInUp .4s ease forwards;

    transition: transform 0.3s ease, opacity 0.3s ease;
}
.selectedWord{
    padding: 0px 10px 0px 10px;

    margin: 0px;
    margin-bottom: 5px;

    font-size: 2em;
}

.trashButton{
    margin: 0px 19px 0px 10px;
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid red;
    border-radius: 50%;

    transition: 0.3s;
    color: red;

    cursor: pointer;
}

.trashButton:hover{
    color: white;
    background-color: red;
   
}

#sepetTitle {
    position: absolute;
    top: -1.5em; 
    left: 5px;
    font-size: 1em;
    color:  #e2ccc0; 
    margin: 0;
    font-size: 2rem;

    animation: fadeInUp2 1s ease forwards;
}

.hidden{
    display: none;
}

                        /* EVOLVER DIV START*/

.EvolvebigContainer{
    display: flex;
    
}                       
                        
.toBeEvolvedContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 1fr);    /* 3 rows */
    gap: clamp(10px, 5vw, 10px);; 
    align-items: center;
    justify-items: center;
    width:70%;
    height: 600px;

    margin-right: 100px;
        
}

.toBeEvolvedWordContainer{
   

    width: 60%;
    height: 70px;
    
    border-radius: 40px;
    background-color: rgb(127, 161, 195);

    display: flex;
    align-items: left;
    flex-direction: column;
    border: 2px black solid;
    max-width: 418px;

    opacity: 0; /* Start hidden */
    animation: fadeInUp 0.6s ease forwards; 
    animation-delay: 0s;

    overflow: hidden; 

    transition: height 0.8s ease;
}
.toBeEvolvedWordContainer.expanded {
    height: 410px; 
}


.toBeEvolvedFinalizeButton{
    padding: 7px;
    font-size: 2rem;

    left: 110px;
    
    color: darkblue;
    background-color: #7FA1C3;
    cursor: pointer;
    border-radius: 10px;
    
    transition: .3s;

    margin-right: 10px;
}
.toBeEvolvedFinalizeButton:hover{
    color: white;
    background-color: darkblue;
    border-radius: 10px;
}

.toBeEvolvedWord{
    font-size: clamp(1.5rem, 2.5rem, 3rem);
    letter-spacing: 3px;
    border: 0px solid green;
    margin: 0px 10px 10px 20px;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}




.wordsContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    margin: 0px;
    list-style-type: none;
    padding-left: 10px;
}
li{
    padding-left: 10px;
}
.evolveWordContainer{
    border: 1px solid black;
    margin: 10px;

    font-size: 2rem;
    border-radius: 40px;
    animation: fadeInUp2 0.6s ease forwards;
}
.evolvedWord{




    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finalFinalWord{
    margin-bottom: 5px;
    margin-left: 5px;
}
.evolvedWord .toBeEvolvedFinalizeButton.fa-solid.fa-cart-plus{
    font-size: 1.25rem;

    padding: 4px;
    font-size: 1.75rem;

    left: 110px;
    
    color: darkblue;
    background-color: #7FA1C3;
    cursor: pointer;
    border-radius: 10px;
    
    transition: .3s;
    margin: 5px;
    margin-right: 10px;
}
.evolvedWord .toBeEvolvedFinalizeButton.fa-solid.fa-cart-plus:hover{
    color: white;
    background-color: darkblue;
    border-radius: 10px;
}



#mixButtonContainer{
    position: fixed;

    left: 630px;
    bottom: 450px;
    animation: .5s forwards fadeInUp2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; 
    

    
   
}
.mixButton{
    width: 20%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;


    
    transform: rotate(180deg)

}

#mix{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
    background-color: #e2ccc0;
    
    cursor: pointer;
}


#mix:hover{

    background-color: black;
    color: white;
    
}


.finalChosenWords{
    border: 2px solid black;

    background-color: #7FA1C3;

    width: 20%;
  
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 20px;
    border-radius: 40px;

    display: flex;
    flex-direction: column; 
    align-items: center;   
    padding-top: 10px;      

 
}
.chosenWordContainer{
    border: 1px solid black;
    border-radius: 30px;
    width: 90%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;


    animation: fadeInUp 0.5s ease-in forwards;

}
.chosenWordContainer.fade-out {
    animation: fadeOut 0.5s ease-in forwards;
}
.finalWord{
    font-size: clamp(1.5rem, 2rem, 3rem);
    letter-spacing: 3px;

    margin: 0px 10px 5px 20px;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}

.deleteFromChosenButton{
    margin: 0px 10px 0px 10px;
    padding: 8px;
    font-size: 1.25rem;
    border: 1px solid red;
    border-radius: 50%;

    transition: 0.3s;
    color: red;

    cursor: pointer;
}

.deleteFromChosenButton:hover{
    color: white;
    background-color: red;
   
}
#seçimlerim{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: green;
}
#downloadButton{
    width: 70px;
    height: 70px;
    color: green;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    font-size: 4rem;
    margin-bottom: 10px;

    cursor: pointer;
    transition: .5s;
}
#downloadButton:hover{
  color: black;
}
.allTheWords{
    width: 90%;
}